google_auth_oauthlib==0.4.6
google_api_python_client==2.20.0
protobuf==3.18.3
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
